.form {
    width: 50rem;
    background-color:red;
    background-image: linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(30deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(150deg, #445 12%, transparent 12.5%, transparent 87%, #445 87.5%, #445),
    linear-gradient(60deg,#04C8DE 25%, transparent 25.5%, transparent 75%,#04C8DE  75%, #04C8DE),
    linear-gradient(60deg, #04C8DE 25%, transparent 25.5%, transparent 75%, #04C8DE 75%, #04C8DE);
    background-size:80px 140px;
    background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}
